.profile__user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 897px) {
  .profile__user {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}