.profile__edit-button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

@media (min-width: 897px) {
  .profile__edit-button {
    width: 22px;
    height: 22px;
    margin-left: 22px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}