.profile__add-button {
  width: 279px;
  height: 47px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

@media (min-width: 897px) {
  .profile__add-button {
    width: 150px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}